.well.well-sm
  %h4
    #{current_user.favorite_proposals.count} / #{ProposalScore::MAX_SCORE_PER_USER}
    Favoritted proposals
  %h4
    = current_user.read_proposals.count
    Read proposals
  %h4
    = current_user.unread_proposals_count
    Unread proposals
%table.table.table-striped
  %thead
    %tr
      %th #
      %th
        Title
        %span.badge comments
      %th Read
      %th Favorite
      %th
  %tbody
    - @proposals.each_with_index do |proposal, index|
      %tr
        %td{style: 'width:10px'}= index + 1
        %td
          = proposal.title
          %span.badge= proposal.comments.count
        %td= proposal.read_by?(current_user) ? content_tag(:span, 'yes', class: 'label label-success') : 'no'
        %td= proposal.favoritted_by?(current_user) ? content_tag(:span, 'yes', class: 'label label-success') : 'no'
        %td= link_to 'Read now', [:crew, proposal], class: 'btn btn-default btn-sm'
