%h3= @proposal.title

%h4 Description
.well= @proposal.description

%h4 Tags
.well= @proposal.tags

%h4 Motivation
.well= @proposal.motivation

.well{style: 'text-align:center;'}
  - if current_user.can_favorite?
    - if @proposal.favoritted_by?(current_user)
      %span.label.label-success Marked as favorite
    - else
      = link_to 'mark as favorite', [:mark_as_favorite, :crew, :proposal], method: :patch, class: 'btn btn-default'
  - else
    You have no favorites left
  - if @proposal.read_by?(current_user)
    %span.label.label-success Marked as read
  - else
    or just
    = link_to 'mark as read', [:mark_as_read, :crew, :proposal], method: :patch, class: 'btn btn-default'

%h4 Comments
- @proposal.comments.all.each do |comment|
  .panel.panel-default
    .panel-heading= comment.user.username
    .panel-body= comment.body

%h5 Post a new comment
.well.well-sm
  = simple_form_for [:crew, @proposal, @proposal.comments.build] do |form|
    = form.input :body
    = form.submit
