%h3 About your talk
= form.input :title do
  = form.text_field :title, placeholder: 'Arrrrsome stuff', class: 'string form-control'
= form.input :summary
= form.input :description, as: :text, placeholder: 'Tell us all about your talk'
= form.input :tags, placeholder: 'Ruby, Rails, Motivational, coding, testing,...'
= form.input :motivation, as: :text, placeholder: 'Why do you want to speak at ArrrrCamp? Why this talk? What will people learn or remember'
%h2 About you
%p
  All this information will be scrambled when you submit your proposal so we have no clue who you are when we go through all the propsals.
= form.input :name, placeholder: 'Captain Blackbeard'
= form.input :email, placeholder: 'your@email.com'
= form.input :github, placeholder: 'arrrrcamp'
= form.input :twitter, placeholder: '@arrrrcamp'
= form.input :recidence, placeholder: 'Where do you live'
= form.input :bio, as: :text, placeholder: 'We want to know all about you.'
- if @proposal.avatar.try(:url).present?
  = image_tag @proposal.avatar.icon.url
= form.input :avatar, as: :file
