= simple_form_for @proposal do |form|
  %h3 About your talk
  = form.input :email, placeholder: 'your@email.com'
  = form.input :title do
    = form.text_field :title, placeholder: 'Arrrrsome stuff', class: 'string optional form-control'
    %span.help-block Should not be the final title
  = form.input :description, as: :text, placeholder: 'Tell us all about your talk'
  = form.input :tags, placeholder: 'Ruby, Rails, Motivational, coding, testing,...'
  = form.input :motivation, as: :text, placeholder: 'Why do you want to speak at ArrrrCamp? Why this talk? What will people learn or remember'
  %h2 About you
  = form.input :name, placeholder: 'Captain Blackbeard'
  = form.input :github, placeholder: 'arrrrcamp'
  = form.input :twitter, placeholder: '@arrrrcamp'
  = form.input :recidence, placeholder: 'Where do you live'
  = form.input :bio, as: :text, placeholder: 'We want to know all about you.'
  .form-actions
    = form.button :submit, 'Submit your propsal', class: 'btn btn-success'
