Hi #{@proposal.name},
Thanks for submitting this proposal.
Here a small summary of your proposal:

Title:
= @proposal.title

Description:
= @proposal.description

Tags:
= @proposal.tags

Motivation:
= @proposal.motivation

Update your proposal?
Keep your proposal up to date with all the latest info.
http://cfp.arrrrcamp.be/proposals/#{@proposal.identifier}/edit


Hope to see you in October
ArrrrCamp - http://2014.arrrrcamp.be
