Hi #{@proposal.name},
Thanks for submitting this proposal.
Here a small summary of your proposal:

= @proposal.title
= @proposal.description
= @proposal.tags
= @proposal.motivation

Update your proposal?
Keep your proposal up to date with all the latest info.
http://cfp.arrrrcamp.be/proposals/#{@proposal.identifier}/edit


Hope to see you in October
ArrrrCamp - http://2014.arrrrcamp.be
