!!!
%html
  %head
    %title ArrrrCamp 2014 Call for Speakers
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{href: "http://arrrrcamp.be"} ArrrrCamp
          %li
            %a{href: "/coc"} CoC
        %h3.text-muted ArrrrCamp Call for Speakers
      .intro
        %h1 ArrrrCamp#{ content_tag :small, '2014'}
        %h2
          %span.glyphicon.glyphicon-bullhorn
          Call for Speakers
        %p.small
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      - if flash[:error].present?
        .bs-callout.bs-callout-danger
          %h4 Oh snap
          %p= flash[:error]
      = yield
      .footer
        %p ArrrrCamp 2014
