!!!
%html
  %head
    %title ArrrrCamp 2014 Call for Speakers
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .header
        = link_to "<- back to ArrrrCamp", 'http://2014.arrrrcamp.be', class: 'back'
        - if current_user
          .right
            = link_to 'logout', :log_out
            = link_to 'all proposals', [:crew, :proposals]
      .intro
        %h1 ArrrrCamp#{ content_tag :small, '2014'}
        %h2
          %span.glyphicon.glyphicon-bullhorn
          Call for Speakers
        %p.small
          Speaking at ArrrrCamp is arrrrsome!
      - if flash[:error].present?
        .bs-callout.bs-callout-danger
          %h4 Oh snap
          %p= flash[:error]
      - if flash[:notice].present?
        .bs-callout
          %h4 Arrrrsome! (ø_o)
          %p= flash[:notice]
      = yield
      .footer
        %p ArrrrCamp 2014
