!!!
%html
  %head
    %title ArrrrCamp 2014 Call for Speakers
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .header
        = link_to "<- back to ArrrrCamp", 'http://arrrrcamp.be', class: 'back'
      .intro
        %h1 ArrrrCamp#{ content_tag :small, '2014'}
        %h2
          %span.glyphicon.glyphicon-bullhorn
          Call for Speakers
        %p.small
          Speaking at ArrrrCamp is arrrrsome!
      - if flash[:error].present?
        .bs-callout.bs-callout-danger
          %h4 Oh snap
          %p= flash[:error]
      = yield
      .footer
        %p ArrrrCamp 2014
        %ul.nav.nav-pills.pull-right
          %li
            %a{href: "proposals/new"} Submit proposal
          %li
            %a{href: "/coc"} CoC
